<!--
Citation for the following code:
Date: 5/6/2025
Copied/Adapted/Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/parties">Parties</a>
        <a href="/customized-parties">Customized Parties</a>
        <a href="/customized-pokemon">Customized Pokemon</a>
        <a href="/customized-pokemon-moves">Customized Pokemon Moves</a>
        <a href="/pokemon">Pokemon</a>
        <a href="/types">Types</a>
        <a href="/pokemon-typing">Pokemon Typing</a>
        <a href="/abilities">Abilites</a>
        <a href="/pokemon-abilities">Pokemon Abilites</a>
        <a href="/moves">Moves</a>
        <a href="/pokemon-moves">Pokemon Moves</a>
        <a href="/items">Items</a>
        <a href="/natures">Natures</a>
    </nav>

    {{{body}}}

</body>
</html>