<!--
Citation for the following code:
Date: 5/6/2025
Copied/Adapted/Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Group 15: Ethan Van Hao and Noah Pragin</p>
</div>

<form id="reset_database" method="POST" action ='/reset/database'>
    <button type="submit" onclick="return confirm('Are you sure you want to reset the database?')">Reset Database</button>
</form>

<p>NOTE: Reseting the database will take approximately 20 seconds because the DDL is very large.</p>