<!--
Citation for the following code:
Date: 5/6/2025
Copied/Adapted/Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->

<h1>Parties</h1>
<p>
<form method="POST" action="/parties/create" style="margin-left: 33px;">
    <button type="submit">Add Party</button>
</form>
</p>

<table>
    <thead>
        <tr>
            {{#each parties.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each parties}}
        <tr>
            <td>{{this.parties_id}}</td>
            <td>
                <form id="delete_parties_button" method='POST' action ='/parties/delete'>
                    <input type="hidden" name="parties_id" value="{{this.parties_id}}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>